Makefile
Makefile.in
.libs/
.deps/
*.lo
*.o
*.la
*.gir
*.typelib
/stamp-h1
/aclocal.m4
/autom4te.cache/
/config.h.in
/config.h
/config.log
/config.status
/config/
/m4/
/configure
/libtool
/doc/reference/gtk-doc.make
/doc/reference/*.stamp
/doc/reference/html/
/doc/reference/tmpl/
/doc/reference/xml/
/doc/reference/sample-decl-list.txt
/doc/reference/sample-decl.txt
/doc/reference/sample-overrides.txt
/doc/reference/sample-sections.txt
/doc/reference/sample-undeclared.txt
/doc/reference/sample-undocumented.txt
/doc/reference/sample-unused.txt
/doc/reference/sample.args
/doc/reference/sample.hierarchy
/doc/reference/sample.interfaces
/doc/reference/sample.prerequisites
/doc/reference/sample.signals
/doc/reference/sample.types
/doc/reference/version.xml
